<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container is-fluid">
        <h1 class="title">Welcome to MonGoods! Click <a href="/products"><strong> here</strong></a> to view products! </h1>
    </div>
</body>
</html>